{%- if site.github_username -%}
    <li>
        <i class="fab fa-github" style="width: 20px;"></i>
        <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">Github</a>
    </li>
{%- endif -%}

{%- if site.linkedin_username -%}
    <li>
        <i class="fab fa-linkedin" style="width: 20px;"></i>
        <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">Linkedin</a>
    </li>
{%- endif -%}

{%- if site.twitter_username -%}
    <li>
        <i class="fab fa-twitter" style="width: 20px;"></i>
        <a target="_blank" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">Twitter</a>
    </li>
{%- endif -%}

{%- if site.scholar_id -%}
    <li>
        <img src="/assets/img/logos/scholar.png" style="width: 20px; filter: brightness(0);">
        <a target="_blank" href="https://scholar.google.com/citations?user={{ site.scholar_id| cgi_escape | escape }}">Google Scholar</a>
    </li>
{%- endif -%}

{%- if site.youtube_username -%}
    <li>
        <i class="fab fa-youtube" style="width: 20px;"></i>
        <a target="_blank" href="https://youtube.com/c/{{ site.youtube_username| cgi_escape | escape }}">YouTube</a>
    </li>
{%- endif -%}

{%- if site.instagram_username -%}
    <li>
        <i class="fab fa-instagram" style="width: 20px;"></i>
        <a target="_blank" href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">Instagram</a>
    </li>
{%- endif -%}

{%- if site.500px_username -%}
    <li>
        <i class="fab fa-500px" style="width: 20px;"></i>
        <a target="_blank" href="https://500px.com/{{ site.500px_username| cgi_escape | escape }}">500px</a>
    </li>
{%- endif -%}
