<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include sections/head.html -%}

  <body>
      <div class="container-fluid" style="max-width: 900px;">
        {%- include sections/header.html -%}

        {%- if page.cover -%}
          <img class="img-cover mt-4 mb-2" src="/assets/img/covers/{{ page.cover }}">
        {%- endif -%}

        {{ content }}

        <div class="mt-5">
          {%- include sections/footer.html -%}
        </div>
      </div>
  </body>

</html>
