---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">

  <div class="mt-4">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>

    <p class="font-italic">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Written on {{ page.date | date: "%b %-d, %Y"}}
      </time>

      {%- if page.author -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
        </span>
      {%- endif -%}
    </p>
  </div>

  <div itemprop="articleBody">
    <p class="font-italic">
      {{ page.excerpt }}
    </p>
    {{ content }}
  </div>

  <div class="mt-5">
    {%- include components/more_posts.html -%}
  </div>

  <div class="mt-5">
    {%- if site.disqus.shortname and page.comments != false -%}
      {%- include components/disqus_comments.html -%}
    {%- endif -%}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
